.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


/****** CSS SAO *****/

body{
  background: linear-gradient(#0c6edf, #f2d4f3);
  background-repeat: no-repeat;
  background-size: contain;
  height: 100%;
  margin: 0;
  background-attachment: fixed;
}


.container {
  margin: 30px 20px;
}

.block--nav{
  padding: 20px;
  border-radius: 5px;
  background-color: #fff;
}
.block--nav li{
  list-style: none;
  margin-bottom: 10px;
}

.mainContent{
  padding: 20px 50px;
  border-radius: 5px;
  background-color: #fff;

}

.QCM_Form h1{
  color: #0c6edf;
  text-align: center;
  margin: 10px auto 40px auto;
}


.QCM_Form .form-group{
  margin: 20px 0;
}

.QCM_Form input[type=email] {
  width: 50%;
  margin-left: 10px;
  display: inline;
}

.QCM_Form button {
  display: block;
  padding: 10px 20px;
  margin: 20px auto;
  text-align: center;
  text-transform: uppercase;
}

.new-question label{
  display: block;
}

.new-question input[type=text]{
  width: 100%;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
