body{
    background-color: #81edd8;
    background-repeat: no-repeat;
    background-size: contain;
    height: 100%;
    margin: 0;
    background-attachment: fixed;
}

/**** BLOC NAVIGATION ****/
.block--nav{
    list-style: none;
    padding: 4px;
    margin: 0;
    background: #F2F2F2;
    .mv-item {
        display: block;
        a {
            display: block;
            margin: 1px 0; 
            padding: 8px 20px; 
            color: #666;
            background: #FFF;
            text-decoration: none; 
            -webkit-transition: all .3s; 
            -moz-transition: all .3s; 
            transition: all .3s; 
            &:hover, &:focus{
                background: #ffb2cb;
                color: #FFF;
                padding-left: 30px;
            }
        }
    }
}

/**** FORMULAIRE QCM ****/
.QCM_Form {
    background-color: #fff;
    margin: 0;
    padding: 10px 20px;
    h1{
        color: #54e7ca;
        text-align: center;
        margin: 0 auto 40px auto;
    }

    .form-group{
    margin: 20px 0;
    }

    input[type=email] {
        width: 50%;
        margin-left: 10px;
        display: inline;
    }

    button {
        display: block;
        padding: 10px 20px;
        margin: 20px auto;
        text-align: center;
        text-transform: uppercase;
    }
}
  
/**** FORMULAIRE AJOUT QUESTION ****/
.Add_Question_Form{
    background-color: #fff;
    margin: 0;
    padding: 10px 20px;
    textarea{
        width: 100%;
    }
    input[type="text"]{
        width: 100%;
    }
}