body{
    background: linear-gradient(#0c6edf, #f2d4f3);
    background-repeat: no-repeat;
    background-size: contain;
    height: 100%;
    margin: 0;
    background-attachment: fixed;
}


.container {
    margin: 30px 20px;
}

.block--nav{
    padding: 20px;
    border-radius: 5px;
    background-color: #fff;
    li{
        list-style: none;
        margin-bottom: 10px;
    }
}

.mainContent{
    padding: 20px 50px;
    border-radius: 5px;
    background-color: #fff;
}

.QCM_Form {
    h1{
        color: #0c6edf;
        text-align: center;
        margin: 10px auto 40px auto;
    }

    .form-group{
    margin: 20px 0;
    }

    input[type=email] {
        width: 50%;
        margin-left: 10px;
        display: inline;
    }

    button {
        display: block;
        padding: 10px 20px;
        margin: 20px auto;
        text-align: center;
        text-transform: uppercase;
    }
}
  
  
.new-question{
    textarea{
        width: 100%;
    }
}